## Python Basics Exercise
This exercise is designed to test your skills on basic Python programming, `numpy` and `pandas`.

Place your answers within the code blocks that have the comment.

```python
# your code here
```

Make sure to remove or comment the line below to be able to proceed. It's only placed there as a reminder that the function has not yet been implemented.
```python
raise NotImplementedError
```

## Note on "test scripts"

The code bloock following the function definition are "unit tests" which are code blocks which test if the function you implemented is correct or not. It will not print an output **if the conditions are met** (meaning the answer is correct). The current output for "Exercise 1" shows an example of when the code is correct and there's no errors, while the output for "Exercise 2" shows an example of what it would look like if something is incorrect.

---

In [1]:
# Place your imports here
import numpy as np
import pandas as pd

**Exercise 1.** Create a function that generates a list containing values from 0 to n-1. **(1 pt.)**

In [2]:
def exercise_1(n):
    return list(range(n)) #  use print for string, use return for value

n = 5
exercise_1(n)

[0, 1, 2, 3, 4]

In [3]:
# these are test scripts
ans = exercise_1(5)
assert ans==[0, 1, 2, 3, 4]

ans = exercise_1(25)
assert ans==[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

**Exercise 2.** Create a function that turns the list into a numpy array **(1 pt.)**

In [4]:
def exercise_2(nums):
    return np.array(nums)

nums = exercise_1(n)
exercise_2(nums)

array([0, 1, 2, 3, 4])

In [5]:
ans = exercise_2([0, 1, 2, 3, 4])
assert (ans==np.arange(5)).sum()==5

ans = exercise_2(exercise_1(5))
assert (ans==np.arange(5)).sum()==5

ans = exercise_2(exercise_1(25))
assert (ans==np.arange(25)).sum()==25

**Exercise 3.** Create a function that accepts 2 parameters: 
 - nums - a list of integer
 - n - a single integer number
 
The function adds n to all the numbers in nums.

**(1 pt.)**

In [6]:
def exercise_3(nums, n):
    return np.array(nums) + n
    
nums = [0, 1, 2, 3, 4]
n = 20
exercise_3(nums, n)

array([20, 21, 22, 23, 24])

In [7]:
ans = exercise_3([0, 1, 2, 3, 4], 20)
assert (ans==np.arange(20, 25)).sum()==5

ans = exercise_3([0, 1, 2], 60)
assert (ans==np.arange(60, 63)).sum()==3

**Exercise 4.** Create a function that accepts a list of numbers as input and returns the first number that has a lower than the number preceding it. If there is none, return `None`.

**(2 pts.)**

In [8]:
def exercise_4(nums):
    for i in range(0, len(nums) - 1):
        if nums[i] > nums[i+1]: #   checks if the preceeding element is larger
            return(nums[i+1]) #  stops and shows the number preceded by a larger element

nums = [0.79, 4, 11.8, 99, 0.4, 76, 55, 66]
exercise_4(nums)

0.4

In [9]:
ans = exercise_4([0.79, 4, 11.8, 99])
assert ans==None

ans = exercise_4([0.79, 4, 11.8, 99, 0.4, 76, 55, 66])
assert ans==0.4

ans = exercise_4([0.79, 4, 4, 11.0, 11, -10, -11, 12])
assert ans==-10

**Exercise 5.** Create a function that returns a list of prime factors of a number.

**(2 pts.)**

In [10]:
# code source: https://stackoverflow.com/questions/15347174/python-finding-prime-factors

def exercise_5(n):
    i = 2
    factors = []
    while i * i <= n:
        if n % i:
            i += 1
        else:
            n //= i
            factors.append(i)
    if n > 1:
        factors.append(n)
    return sorted(list(set(factors))) #  convert to set to delete duplicates

n = 1265
exercise_5(n)

[5, 11, 23]

In [11]:
ans = exercise_5(1)
assert ans==[]

ans = exercise_5(4)
assert ans==[2]

ans = exercise_5(1265)
assert ans==[5, 11, 23]

ans = exercise_5(3674)
assert ans==[2, 11, 167]

**Exercise 6.** Create a function that has 3 parameters: list of integers (num), integer number (n1), and another integer number (n2). The function will return a list of integers that are multiples of either n1 or n2.

**(2 pts.)**

In [12]:
def exercise_6(nums, n1, n2):
    # NO ANSWER YET
    # your code here.
    raise NotImplementedError

In [13]:
ans = exercise_6(np.arange(20), 3, 4)
assert ans==[3, 6, 9, 12, 15, 18]

ans = exercise_6(np.arange(300), 17, 27)
assert ans==[17, 34, 51, 68, 85, 102, 119, 136, 153, 170, 187, 204, 221, 238, 255, 272, 289]

NotImplementedError:

**Exercise 7.** Create a function that reads the Titanic dataset (`data/train.csv`) and returns the ages (in list form) of first 5 (based on index) female passengers who survived .

**(2 pts.)**

In [ ]:
def exercise_7():
    df=pd.read_csv('data/train.csv')
    femalesurviveage = df[(df['Survived']==1) & (df['Sex']=='female') & (df['Age'])]
    info = (femalesurviveage['Age']).head().tolist()
    infonp = list(np.int_(info))
    return infonp

exercise_7()

In [ ]:
assert exercise_7()==[38, 26, 35, 27, 14]

**Exercise 8.** Create a function that reads the Titanic dataset (`data/train.csv`) and returns the average fare of all female passengers who survived and have an age greater than 30. Format the result by rounding up to 2 decimal values. Make sure the data type is float.

**(2 pts.)**

In [ ]:
def exercise_8():
    df=pd.read_csv('data/train.csv')
    female30 = df[(df['Survived']==1) & (df['Sex']=='female') & (df['Age']>30)]
    faremean = np.round(female30['Fare'].mean(),2)
    return faremean

exercise_8()

In [ ]:
assert exercise_8()==71.16